<h2>Oh shoot, look at this cool link</h2>
<a href="/supercoolmembersonlypage">don't you want to try it</a>
<h2>Create Account</h2>
<form action="/create" method="POST">
    <input type="text" name="username"> <br>
    <input type="text" name="password"> <br>
    <button type="submit">Submit</button>
    </form>
    <h2>Login</h2>
    <form action="/login" method="POST">
    <input type="text" name="username"> <br>
    <input type="text" name="password"> <br>
    <button type="submit">submit</button>
</form>
