

<%-include("../nav")%>
<h2>Create Account</h2>
<form action="/create" method="POST">
    <input type="text" name="username"> <br>
    <input type="text" name="password"> <br>
    <button type="submit">Submit</button>
</form>
